<h1>Info about me</h1>
<!--p>Find me in app/views/pages/info.html.erb</p-->
<h3>Where am I now?</h3>
<p>I live somewhere in Victoria, Australia. I could be more specific, but that would be no fun.</p>
<h3>Where did I grow up?</h3>
<p>I grew up in country Victoria. In a town, not on a farm.</p>
<h3>What have I studied?</h3>
<p>I have studied Laboratory Medicine, Auditing, Computer Science.</p>
<p>Right now I am thinking about what I might study next. Maybe I will do a PhD.</p>

